.title-md {
    text-align: center;
}

h1 {
    text-align: center;
}

.ion-page {
    text-align: center;
}

.list-md {
    text-align: -webkit-center;
}

.sc-ion-card-md-h {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 800px;
}