<ion-header>
  <ion-toolbar>
    <ion-title>Ynov Serie Finder</ion-title>
		<ion-icon name="search" (click)="hidden = !hidden"></ion-icon>
  </ion-toolbar>
</ion-header>
  
<ion-content padding>
<ion-searchbar #mySearchbar (ionInput)="onInput()" *ngIf=!hidden></ion-searchbar>
  <h1>Series</h1>
  <div *ngIf="this.serielist.length == 0">Aucune série trouvée</div>
  <ion-list>
    <ion-card *ngFor="let serie of serielist" (click)="cardClick(serie.IMDbIndex)">
      <ion-card-header>
        <ion-card-title>{{serie.Title}} {{serie.Runtime}}</ion-card-title>
        <ion-card-subtitle>{{serie.Year}}</ion-card-subtitle>
      </ion-card-header>
      <ion-background>
        <img src="{{serie.PosterPoster}}" (error)=getImgUrl(serie)>
      </ion-background>
      <ion-card-content>
        {{serie.description}}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>