<ion-header>
  <ion-toolbar>
      <ion-back-button></ion-back-button>
      <ion-title>Favoris</ion-title>
      <div class=icons>
          <ion-icon name="trash" (click)='deleteFavorites()' style="font-size: 25px; margin-top:2px;"></ion-icon>
          <ion-icon name="cloud-download" (click)='importFavorites()'></ion-icon>
          <ion-icon name="cloud-upload" (click)="presentAlertRadio()"></ion-icon>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let fav of favorites">
      <ion-background>
        <ion-icon class="ion-icon" name="download" *ngIf='fav.PosterPoster != no_image' (click)='downloadPoster(fav)'></ion-icon>
        <img src="{{fav.PosterPoster}}" (error)=getImgUrl(fav) (click)="onItemClick(fav)">
      </ion-background>
      <ion-card-header>
        <ion-card-title>
          <ion-icon (click)="setFavorite(getFavorite(fav), fav)" [name]="getFavorite(fav) ? 'star' : 'star-outline'"></ion-icon>
          {{fav.Title}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
<div id=download></div>
<input id="myInput" type="file" style="visibility:hidden" />