.header ion-toolbar {
    text-align: center;
}

.header ion-toolbar ion-title {
    text-align: center;
    display: inline-flex;
    margin-right: -30px;
}

.header ion-toolbar ion-icon {
    display: inline-flex;
    font-size: 25px;
    margin-right: 5px;
    float: right;
}

h1 {
    text-align: center;
}

.sc-ion-searchbar-md-h {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.ion-page {
    text-align: center;
}

.list-md {
    text-align: -webkit-center;
}

.sc-ion-card-md-h {
    width: auto;
    max-width: 600px;
    height: auto;
    max-height: 800px;
}