<ion-header>
  <ion-toolbar>
    <ion-title>Ynov Movie Finder</ion-title>
		<ion-icon name="search" (click)="hidden = !hidden"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-searchbar #mySearchbar (ionInput)="onInput()" *ngIf=!hidden></ion-searchbar>
	<h1>Films</h1>
	<ion-list>
		<ion-card *ngFor="let movie of movielist" (click)="cardClick(movie.IMDbIndex)">
			<ion-card-header>
				<ion-card-title>{{movie.Title}}</ion-card-title>
				<ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
			</ion-card-header>
			<ion-background>
				<img src="{{movie.PosterPoster}}" (error)=getImgUrl(movie)>
			</ion-background>
			<ion-card-content>
				{{movie.description}}
			</ion-card-content>
		</ion-card>
	</ion-list>
</ion-content>